* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:baseline;
    width: 100vw;
    min-height: 100vh;
    text-align: center;
    background-color: #c9dcf2; /* Color de fondo para las áreas fuera de la imagen */
    
}

header {
    width: 100%;
    
}

header img {
    width: 100%;
    max-width: 450px;
    height: 250px;
    margin-top: 0px; /* Elimina cualquier espacio superior */
    padding: auto;
    text-align: center;
}

.lacirilalogo h2,
footer h2 {
    width: 100%;
    font-weight: bold;
    font-size: 4rem;
    padding-top: 50px;
}
