*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style:normal;

}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
    text-align: center;
    background-color: #fff; /* Color de fondo para las áreas fuera de la imagen */
    overflow: hidden;
    background-image: url('/img/bariloche.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 0;
}


header img {
    width: 100%;
    max-width: 450px;
    height: 250px;
    padding: 0;
}

.lacirilalogo h2,
footer h2 {
    width: 100%;
    font-weight: bold;
}


